.wrapper {
  max-width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 0.5rem;
  border: 1px solid var(--color-text);
  padding: 0.5rem;
}

.checkbox__and__value {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.checkbutton {
  color: inherit;
}
