.wrapper {
  max-width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 0.5rem;
  border: 1px solid var(--color-text);
  padding: 0.5rem;
}

.inserted {
  width: 100%;
  height: 1px;
  border-bottom: 2px dashed var(--color-text);
  margin: 0.25rem 0 0.5rem 0;
}

.checkbox__and__value {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.checkbutton {
  color: inherit;
}

.value {
  width: 100%;
  max-width: 100%;
  color: var(--color-text);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  margin-top: 0.1rem;
}

.right__buttons {
  display: flex;
  align-items: flex-start;
  margin-top: 0.2rem;
  gap: 0.5rem;
}

.grip {
  cursor: grab;
}
