.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  margin: 1rem 0;
}

.button[data-selected="true"] {
  border-bottom: 1px solid var(--color-text);
  box-sizing: content-box;
}
