.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.input__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.input {
  border-radius: 0.5rem;
  padding: 4px 8px;
}

.button {
  padding: 2px 8px;
  color: inherit;
  border: 1px solid var(--color-text);
  border-radius: 0.5rem;
}
