.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.input__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.input {
  border-radius: 0.5rem;
  padding: 4px 8px;
}

.button {
  border-radius: 0.5rem;
  padding: 2px 8px;
}
